---
layout: layouts/home.njk
---
<section class=" mt-10 md:container md:mx-auto flex flex-col-reverse sm:flex-row justify-between">
<article class="border-2 border-black rounded p-10 z-[100] w-11/12 lg:w-1/2 mr-auto ml-auto bg-white">
<h2 class="text-4xl md:text-5xl text-yellow-900 font-serif">It's an extravaganza!</h2>
<p class="text-lg mt-5 font-sans">You are cordinally invited to a virtual showing of the Feast of Alvis, on thee this Alvisday, the 29th of December 2021.<br /><br />
Come All Ye Faithful! Drink Nog and Be Merry!</p>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
<div class="col-span-1">
{% image "./assets/WTV_Yellow-Print.png", "Tune in on WTV", "(min-width: 10em) 50vw, 100vw" %}
</div>
<div class="col-span-2 flex flex-col">
  <h3 class="text-2xl text-yellow-900 font-serif md:mt-10 md:mb-10">Streaming at 7pm PST on WTV</h3>
  <div class="mt-3 sm:mt-0 sm:ml-3">
  <a href="https://www.twitch.tv/checkoutthew" class="font-sans w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-bold rounded-md text-yellow-900 bg-yellow-100 hover:bg-yellow-200 md:py-4 md:text-lg md:px-10">
  Tune in on Twitch
  </a>
  </div>
  </div>
</div>
</article>
<aside class="w-9/12 md:w-9/12 lg:w-2/5 rotate mr-auto ml-auto mb-10">
{% image "./assets/holyalvis.png", "Feast of Alvis", "(min-width: 30em) 50vw, 100vw" %}
</aside>
</section>