<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" type="text/css" href="/assets/main.css" />
    {% eleventyGoogleFonts 'https://fonts.googleapis.com/css2?family=Rye&family=Lato&display=swap' %}
  </head>
  <body class="relative">
   <div class="parallax-container">
    <div class="parallax-layer layer-0" data-parallax-speed="0.05" data-max-scroll="565"></div>
    <div class="parallax-layer layer-1" data-parallax-speed="0.1" data-max-scroll="565"></div>
    <div class="parallax-layer layer-2" data-parallax-speed="0.3" data-max-scroll="565"></div>
    <div class="parallax-layer layer-3" data-parallax-speed="0.5" data-max-scroll="565"></div>
    <div class="parallax-layer layer-4" data-parallax-speed="0.7" data-max-scroll="565"></div>
    <div class="parallax-layer layer-5" data-parallax-speed="0.9" data-max-scroll="565"></div>
  </div>
<div class="content">
  <header class="relative flex justify-center">
  {% image "./assets/banner.png", "Happy Feast of Alvis!", "(min-width: 60em) 50vw, 100vw" %}
  </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    </div>
    </div>
    <script src="/assets/main.js"></script>
  </body>
</html>
