---
layout: layouts/base.njk
templateClass: tmpl-home
---
<section class="md:container md:mx-auto flex flex-col sm:flex-row justify-between">
<div class="speaker-box">
  <h1>Speaking + Sharing</h1>
  <div class="tail"></div>
</div>
</section>
<article class="md:container md:mx-auto">
{% include "talklist.njk" %}
</article>

